@import '../common';

.all-products {
  margin-top: 50px;
}

.el-row {
  margin: 5px 0px;
  background: rgba(238,238,238, 0.6);
}

.product-information {
  overflow: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons > button {
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  color: $primaryFontColor;
  font-weight: bold;
  background: $primaryBgColor;
  border: 1px solid #263238;
}

.buttons > button:disabled {
  cursor: not-allowed;
}

.product-image {
  width: 100%;
  height: 100%
}
