.el-col {
  margin-top: 10px;
}

.bottom {
  height: 150px;
  overflow: auto;
}

.image {
  width: 100%;
  height: 250px;
  display: block;
}

.product-description {
  height: 100%;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
}

.button-area {
  text-align: center;
}

.search-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0px;
}

.search-input {
  width: 30vw;
}
