@import "../common";
#auctions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0px 20px;
}

.auction-title {
  font-size: 20px;
  color: $primaryFontColor;
}
